<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a Quote</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/page2.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    
    <!-- Header -->
    <header id="header" class="d-flex justify-content-between align-items-center ">
        <left id="left">
            <a href="/">
                <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Upkeep Garage Storage KC">
            </a>
        </left>
        <menu id="dropdown">
            <div class="dropdown-content ">
                <a href="/">
                    {% if page == "home" %}
                    <h3 class="active">Home</h3>
                    {% else %}
                    <h3>Home</h3>
                    {% endif%}
                </a>
                <a href="/gallery">
                    {% if page == "gallery" %}
                    <h3 class="active">Gallery</h3>
                    {% else %}
                    <h3>Gallery</h3>
                    {% endif%}
                </a>
                <a href="/request">
                    {% if page == "request" %}
                    <h3 class="active">Request</h3>
                    {% else %}
                    <h3>Request</h3>
                    {% endif%}
                </a>
                <div class="d-flex">
                    <!-- Social Media Links -->
                    <a class="text-decoration-none" href="https://www.facebook.com/profile.php?id=61551834987966&mibextid=LQQJ4d">
                        <img class="social" src="{{ url_for('static', filename='img/social_media/facebook.webp') }}" >
                    </a>
                    <a class="text-decoration-none" href="https://www.instagram.com/upkeepgaragestoragekc/">
                        <img class="social" src="{{ url_for('static', filename='img/social_media/instagram.png') }}" >
                    </a>
                    <a class="text-decoration-none" href="https://www.linkedin.com/company/upkeep-garage-storage-kc/?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3B2jotMiRpReql47WLlBH%2FuQ%3D%3D">
                        <img class="social" src="{{ url_for('static', filename='img/social_media/linkedin.png') }}" >
                    </a>
                    <a class="text-decoration-none" href="https://www.tiktok.com/@upkeepgaragestoragekc?_t=8fqeiouZqsY&_r=1">
                        <img class="social" src="{{ url_for('static', filename='img/social_media/tiktok.png') }}" >
                    </a>
                </div>
            </div>
            <img src="{{ url_for('static', filename='img/menu.png') }}" >
        </menu>
        <right id="navigation" class="d-flex justify-content-end align-items-center">

            <!-- <h3>Shop</h3> -->
            <a href="/" class="links">
                {% if page == "home" %}
                <h3 class="active">Home</h3>
                {% else %}
                <h3>Home</h3>
                {% endif%}
            </a>
            <a href="/gallery" class="links">
                {% if page == "gallery" %}
                <h3 class="active">Gallery</h3>
                {% else %}
                <h3>Gallery</h3>
                {% endif%}
            </a>
            <a href="/request" class="links">
                {% if page == "request" %}
                <h3 class="active">Request</h3>
                {% else %}
                <h3>Request</h3>
                {% endif%}
            </a>
            <!-- <a href="/calculator" class="links">
                {% if page == "calculator" %}
                <h3 class="active">Calculator</h3>
                {% else %}
                <h3>Calculator</h3>
                {% endif%}
            </a> -->
            <!-- <h3>Login</h3> -->
            <div id="social_media" class="me-3">
                <!-- Social Media Links -->
                <a class="text-decoration-none" href="https://www.facebook.com/profile.php?id=61551834987966&mibextid=LQQJ4d">
                    <img class="social" src="{{ url_for('static', filename='img/social_media/facebook.webp') }}" >
                </a>
                <a class="text-decoration-none" href="https://www.instagram.com/upkeepgaragestoragekc/">
                    <img class="social" src="{{ url_for('static', filename='img/social_media/instagram.png') }}" >
                </a>
                <a class="text-decoration-none" href="https://www.linkedin.com/company/upkeep-garage-storage-kc/?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3B2jotMiRpReql47WLlBH%2FuQ%3D%3D">
                    <img class="social" src="{{ url_for('static', filename='img/social_media/linkedin.png') }}" >
                </a>
                <a class="text-decoration-none" href="https://www.tiktok.com/@upkeepgaragestoragekc?_t=8fqeiouZqsY&_r=1">
                    <img class="social" src="{{ url_for('static', filename='img/social_media/tiktok.png') }}" >
                </a>
            </div>
        </right>
    </header>
    
    <!-- body -->
    <main id="request" class="d-flex align-items-center justify-content-between">

        <div class="contact">
            <h3 class="text-uppercase fw-lighter fs-1">Contact Us</h3>
            <h2 class="fw-bold">admin@upkeepgaragekc.com</h2>
            <h1 class="fw-light">(913) 535-3759</h1>
        </div>

        <!-- request form -->
        <form id="form" class="p-3 col-5 form" action="/request/create" method="POST">
            
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
                hbspt.forms.create({
                    region: "na1",
                    portalId: "43829551",
                    formId: "4c75b69b-0589-489d-9ce3-f0f09375e4c2"
                });
            </script>
            <!-- <label class="text-dark label1">Name</label>
            <label class="label2">(required)</label>
            <div class="d-flex grid gap-0 column-gap-3">

                <div class="d-flex flex-column">
                    <label class="pt-2 form-label text-dark label2" for="first_name">First Name</label>
                    {% for message in get_flashed_messages(category_filter = ['first_name']) %}
                    <p class="text-danger">*{{message}}</p>
                    {% endfor %}
                    <input id="name" class="form-control" type="text" name="first_name" id="first_name">
                </div>


                <div class="d-flex flex-column">
                    <label class="pt-2 form-label text-dark label2" for="last_name">Last Name</label>
                    {% for message in get_flashed_messages(category_filter = ['last_name']) %}
                    <p class="text-danger">*{{message}}</p>
                    {% endfor %}
                    <input id="name" class="form-control" type="text" name="last_name" id="last_name">
                </div>

            </div>
            
            <label class="pt-2 text-dark form-label label1" for="email">Email</label>
            <label class="label2">(required)</label>
            {% for message in get_flashed_messages(category_filter = ['email']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="email" name="email" id="email" placeholder="example@gmail.com">
            
            <label class="pt-2 text-dark form-label label1" for="phone">Phone</label>
            <label class="label2">(required)</label>
            {% for message in get_flashed_messages(category_filter = ['phone']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="text" name="phone" id="phone" placeholder="(000)-000-0000">

            <label class="pt-2 text-dark form-label label1" for="message">Message </label>
            <label class="label2">(required)</label>
            {% for message in get_flashed_messages(category_filter = ['message']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <textarea class="form-control" name="message" id="message" cols="30" rows="5" placeholder="What type of remodel? How many racks?"></textarea>

            <a id="clear" href="/request">Clear</a>
            <button id="submit" type="submit">Submit</button> -->

        </form>
    </main>
    <meeting id="meeting">
        <h1 class="mt-2 text-light">Do you know what you want?</h1>
        <!-- Start of Meetings Embed Script -->
        <div  class="meetings-iframe-container" data-src="https://meetings.hubspot.com/karsten-wersland?embed=true"></div>
        <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
        <!-- End of Meetings Embed Script -->
    </meeting>


    <!-- <estimate id="estimate">

        <h1 class="uppercase mb-5">Estimate Calculator</h1>
        <form id="estimateForm" action="">
            <div class="form-check form-switch d-flex justify-content-evenly align-items-center">
                <label class="form-check-label fs-3" for="flexSwitchCheckDefault">Do you want Storage?</label>
                <input id="submit" type="checkbox" onclick="storageCheckbox()">Yes</input>
            </div>
            <h4 id="storageType" class="none">Wall or ceiling?</h4>
            <select  id="storage" class="form-select" multiple aria-label="Multiple select example">
                <option value="stationary">
                    <img class="image" src="{{ url_for('static', filename='img/gallery/stockStationary.JPG') }}"/>
                </option>
                <option value="tote">
                    
                </option>
                <option value="retractable">
                    
                </option>
            </select>
            <h4>How many square feet?</h4>
            <h4>Do you want it painted?</h4>
            <h4>How many square feet?</h4>

        </form>
    </estimate> -->

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/43829551.js"></script>
    <!-- End of HubSpot Embed Code -->
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>